

@font-face {
    font-family:"Nanum Square";
    src: url("../font/NanumSquareR.otf") format('opentype');
    font-weight: 400;
    font-display: swap;
  }


  @font-face {
    font-family: "Nanum Square";
    src: url("../font/NanumSquareB.otf") format('opentype');
    font-weight: 600;
    font-display: swap;
  }



  @font-face {
    font-family: "Nanum Square";
    src: url("../font/NanumSquareEB.otf") format('opentype');
    font-weight: 800;
    font-display: swap;
  }



  @font-face {
    font-family: "Nanum Square"; 
    src: url("../font/NanumSquareL.otf") format('opentype');
    font-weight: 300;
    font-display: swap;
  }


